
.erbjudanden{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title{
    color: white;
    position: absolute;
    top: 5%;
    font-size: 70px;
    filter: drop-shadow(4px 4px 0px #00000040);
    font-family: 'Italianno', cursive;
}
.cringeCitat{
    color: white;
    position: absolute;
    bottom: 5%;
    font-size: 40px;
    left: 5%;
    width: 300px;
    text-shadow: black;
    filter: drop-shadow(4px 4px 0px #00000040);

}

.lunchDiv{
    color: white;
}

.lunchdiv1{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roundimage{
    border-radius: 100%;
    width: 80%;
}


@media (min-width:900px) {
    .erbjudanden{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5rem;
    }
    .lunchdiv1{
        display:flex;
        flex-direction: column;
    }
    .lunchDiv{
        display: grid;
        grid-template-rows: repeat(4, 70px);
    }
    .title{
        font-size:120px;
    }
    .cringeCitat{
        font-size:50px;
    }
}
